---
layout: default
---
<script type="text/javascript">
<!--
    function toggle_visibility(elid) {
       // var e = document.getElementById(id);
       var el=document.getElementById(elid);
	    aelid=elid+"a";
	    ael=document.getElementById(aelid);
	    if(el.style.display=='none'){
	      el.style.display='block';
	      ael.innerHTML="[Hide BibTex]";
	    }else{
	      el.style.display='none';
	      ael.innerHTML="[Show BibTex]";
	    }
       // if(e.style.display == 'none')
       //    e.style.display = 'block';
       // else
       //    e.style.display = 'none';
    }
//-->
</script>

<div class="posts" >
	  	{% for post in site.posts %}
			{% if post.type=='pub'%}
			<table style="width:100%;border:1px solid grey;">
	
				<tr>
					<td align="center" valign="top" style="width:25%;" id={{post.image}}>
						{% if post.pdf %}
						<a href={{post.pdf}} target="_blank"><img src={{site.baseurl}}/{{post.image}}></a>
						{% else %}
						<img src={{site.baseurl}}/{{post.image}}>
						{% endif %}
					</td>
					<td style="width:75%;background-color: #f5f5f5">
						{% if post.pdf %}
						<a href={{post.pdf}} target="_blank">{{post.title}}</a><br>
						{% else %}
						{{post.title| markdownify| remove: '<p>' | remove: '</p>'}}<br>
						{% endif %}
		              	{{post.authors| markdownify| remove: '<p>' | remove: '</p>' }}<br>{{post.place}}<br>
		              	{% if post.comment %} {{post.comment}}<br>{% endif %}
		              	{% if post.pdf %} [<a href={{post.pdf}} target="_blank">PDF</a>]{% endif %}
		              	{% if post.poster %} [<a href={{post.poster}} target="_blank">Poster</a>]{% endif %}
		              	{% if post.github %} [<a href={{post.github}} target="_blank">Github</a>]{% endif %}
		              	{% if post.project_page %} [<a href={{post.project_page}} target="_blank">Project Page</a>]{% endif %}
		              	{% if post.bibtag %} [<a href="javascript:toggle_visibility('{{post.bibtag}}')">BibTex</a>]{% endif %}
		              	<br>
		              	<!-- {% if post.bibtag %}
		              	<p class="bibtex" style="display:none;margin-top:20px;" id={{post.bibtag}}>
		              	<pre>
		              	{{post.content| markdownify| remove: '<p>' | remove: '</p>' }}
		              	</pre>
		              	</p>
		              	{% endif %}
		              	<br> -->
		          	</td>
		        </tr>
		        </table>
		        {% if post.bibtag %}
		        <table class="bibtex" style="margin-right:auto;display:none;width:80%;margin-top:20px;font-size:small;" id={{post.bibtag}}><tbody><tr style="background-color: #f5f5f5;border: 0px solid black;"><td>
		              	<pre>{{post.content| markdownify| remove: '<p>' | remove: '</p>' | strip}}</pre>
		              	</td></tr></tbody></table>

              	{% endif %}
              	<br>
			{% endif %}
		{% endfor %}
	
</div>
